<br><br>
<!-- div titulo -->
<div class="row">
  <div class="col-4"></div>
  <br>
  <div class="col-4"><h1 id="titulo">PRODUCTOS</h1></div>
  <div class="col-4"></div>
</div>

<!-- div botón agregar nuevo producto -->
<div class="row">
  <div class="col-2"></div>
  <div class="col-2"></div>
  <div class="col-2"></div>
  <div class="col-2"></div>
  <div class="col-2" id="divListar">

    <button class="btn btn-dark"type="button"(click)="consultarTodos()">Listar</button>

  </div>
  <div class="col-2">

    <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar producto</button>

  </div>
</div>


<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <h3 id="txt1">Productos disponibles</h3>
    <hr size="1" width="143%" color="gray">
  </div>
  <div class="col-2"></div>
  <div class="col-2"></div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card" style="width: 70%;" >
      <div class="card-body" >
        <div class="mat-elevation-z8">
        <mat-table [dataSource]="dato">

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre Producto</mat-header-cell>
              <mat-cell *matCellDef="let dato" >{{dato.nombre}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
          <mat-row *matRowDef="row; columns: columnas"></mat-row>

        </mat-table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Información del producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="guardarProducto()">
          <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" id="inomb">
              </div>
          </div>
<br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-dark" role="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
