#titulo{
  color: lightsalmon;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 40px;
}
#txt1{
  font-weight: bold;
}
body
{
  background: url(/src/assets/img/grisnew.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
