<h1>Manejo de datos</h1>

<br><br><br>

<h1>Prueba select</h1>
  <mat-form-field appearance="fill">
    <mat-label>Selecciona tus productos</mat-label>
    <mat-select>
      <mat-option *ngFor="let elemento of elemento" [value]="elemento.nombre">
        {{elemento.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">

  <button type="button" class="btn btn-dark" onclick="window.print(); return false;">Exportar a pdf</button>

</div>

