<div >

<h1>Manejo de datos</h1>

<br><br><br>

<h1>Prueba select</h1>
  <mat-form-field appearance="fill">
    <mat-label>Selecciona tus productos</mat-label>
    <mat-select>
      <mat-option *ngFor="let elemento of elemento" [value]="elemento.nombre">
        {{elemento.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">

  <button type="button" class="btn btn-dark" (click)="generarPdf()">Exportar a pdf</button>

</div>

</div>

<div id="pdf">
  <table class="default">

    <tr>

      <td>Celda 1</td>

      <td>Celda 2</td>

      <td>Celda 3</td>

    </tr>

    <tr>

      <td>Celda 4</td>

      <td>Celda 5</td>

      <td>Celda 6</td>

    </tr>

  </table>
</div>
