<h1>Manejo de datos</h1>

<form action="">
<select class="form-select" aria-label="Default select example">
  <option selected>Selecciona tus productos</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

<button type="button" class="btn btn-dark">Añadir</button>

</form>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">

  <button type="button" class="btn btn-dark" onclick="window.print(); return false;">Exportar a pdf</button>

</div>

