#titulo{
  color: gray;
  font-size: 60px;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 45px;
}
#txt1{
  font-weight: bold;
}
#fondo{
  height: max-content;
  background: url(src/assets/img/grisnew.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
